{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "author.css" %}">>
    <title> {{author.first_name}} </title>
</head>
<body>

    <div class="header">
        <h1>Author Info</h1>
    </div>
    <div class="author-info">
        <p>{{author.first_name}} {{author.last_name}}</p>
        <p> {{author.email_adress}} </p>
           
    </div>
        
    
    
</body>
</html>

